<launch>
  <arg name="rviz" default="false" />
  <arg name="config_path" default="$(find rslidar_sdk)/config/config_airy.yaml" />

  <node pkg="rslidar_sdk" name="rslidar_sdk_node" type="rslidar_sdk_node" output="screen" required="true">
    <param name="config_path" value="$(arg config_path)" />
  </node>

  <group if="$(arg rviz)">
    <node pkg="rviz" name="rviz" type="rviz" args="-d $(find rslidar_sdk)/rviz/rviz.rviz" />
  </group>
</launch>
